body {
    font-family: Arial, sans-serif;
    background-color: #63CBD6;
    color: white;
}

.container {
    display: flex;
    position: fixed;
    justify-content: space-between;
    margin-top: 80px;
    margin-left: 200px;
}

.playlist {
    width: 100%;
    color: #272525;
    background-color: #008080; 
    padding: 20px;
    border-radius: 8px; 
    border: 1px solid #ccc;
    margin: auto;
    position: relative;
}

.add-song {
    width: 50%;
    background-color: #008080; 
    padding: 20px; 
    border-radius: 8px; 
    border: 1px solid #ccc;
    margin: auto;
    margin-left: 100px;
}

h2 {
    text-align: center;
}

.search-bar,
#song-title,
#artist-name {
    width: 95%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.song {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.song-title {
    font-weight: bold;
    margin: 0; 
    color: rgb(255, 255, 255);
}

.artist-name {
    display: block; 
    font-size: 0.9em; 
    color: #272525; 
    margin: 0; 
}

button {
    background-color: #c91111;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

button:hover {
    background-color: #ff1a1a;
}

#add-button {
    background-color: blue; 
    color: white; 
    border: none; 
    padding: 8px 15px; 
    border-radius: 5px; 
    cursor: pointer; 
}

#add-button:hover {
    background-color: rgb(50, 50, 212); 
}

.add-song {
    display: flex;
    flex-direction: column; 
    color: #272525;
    position: relative;
}

#add-button {
    align-self: center; 
    margin: auto; 
}